@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
    font-family: 'Lato', sans-serif !important;
    font-weight: 900;
}

/* #search-login{
    padding-right: 10px;
} */

.login{
    margin-left: 50px;
}

#login-link{
    text-decoration: none;
    color: black;
}

#user-icon{
    padding-right: 10px;
}
