@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
    font-family: 'Lato', sans-serif !important;
    font-weight: 900;
}


/* Navbar section */

/* #search-login{
    padding-right: 10px;
} */

.login{
    margin-left: 50px;
}

#login-link{
    text-decoration: none;
    color: black;
}

#user-icon{
    padding-right: 10px;
}


/* Cover section */
.background{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.bg-text{
    font-size:48px !important;
    color: green
}

.background1{
    background-image: url('/images/iphone_11_PNG15.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.background2{
    background-image: url('/images/laptop_PNG101812.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.background3{
    background-image: url('/images/server_PNG35.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}


/* product-list section */
.products-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
}