/* * NOTE: In css, 'postion: sticky' only works when we set 'top' attribute. Other attributes like 'bottom', 'lef' and 'right' do not work for this position */
.order-payment-block{
    position: sticky;
    top: 5px;
}

.order-payment{
    position: absolute;
    right: 5px;
    background-color: rgb(192, 194, 192);
    color: rgb(74, 74, 74);
    font-size: 18px;
    border-radius: 5%;
}

a{
    text-decoration: none;
    color: black;
}